

mods from standard compound fork:
- remove COMP token stuff
- account psuedo rETH supply for calculating utilization rate (rETH_lendingcontract + rETH_value/collateralFactor).
- when user borrows, first call to withdraw relevant amount of rETH from vault into lending contract. 
rEthWithdraw =userBorrow-rEthDeposits (first preference is to use user deposited rETH)
- Upon rETH repayment, leave 50%(?) in lending contract to account for user deposits (if applicable), return rest to vault
- Add liquidation function. Function#1 supply rETH, get rETH+$100profit back. Function#2 flashloan rETH from vault & call function#1, repay flashloan, return $100 to user.

Not a mod, but custom settings:
- jumpRateModelv2 with 0 interest
- no reserve factor

vault2.0 mods:
- whitelist address for lending contract to borrow/repay
- keep track of LST yield due on repayment to yield contract.
 (idea to keep track of outstanding debt * LST yield that would have gone to yield contract
  each epoch = track 2 accounts rETH_debt and rETH_yielddebt, where rETH_yielddebt accrues debt each time
   the vault does LST distribution.
    Upon rETH repayment, up to 10% of repayment can be used to pay into the yield contract rETH_yield)

Oracle mods:
- Add Collateral Factor = balanceOf_rETH*rETHprice / value_of_synthetics
- Modify Numa price = ((balanceOf_rETH+rETH_debt)*rETHprice  - value_of_synthetics) / Numa_circ_supply
- Add Synth_scaling_PID here? When CF<110%, start scaling every synth price down every 24hrs to democratize losses.


**********
Just realised something this morning; we need to re-add the max sell amount on vault2.0 (we had previously removed)

The reason is because once synthetic debt is live in system, sells *can* make price go down - since it removes rETH but keeps synthetic debt the same.

Also, we shouldnt accept sells if it would make price go negative (or maybe below the min 110% CF).
Ie if there is $1M of rETH and $900k of synthetic debt. If someone wanted to sell $200k of Numa, price would go negative afterward. 
System prices the trade at starting, not end price, so they could make money here. Also they could borrow Numa to short it with leverage. Hence why max sell also important...

I think this is only really an edge case while we are decaying, since we have more Numa supply than rETH in the vault - but could also become an issue if synthetic debt outperformed rETH.

**
Vault liq should be adjusted to min collateral factor to make sure noone borrows more than that (lending removes rETH from vault and makes real CF go down)
**
Current calcs;
Sell0=(rETH-synth)/circ
Calc newRETH0, newCirc0

Then calc estimate pricing post using present method;
Sell1=(newRETH0-synth)/(newCirc0)

Then compute average to provide actual price;
Sell=(sell0+sell1)/2

Could still quote sell0 in UI which would be true for a small buy/sell
**
We can be a bit sneaky and treat their deposit as ETH, and zap to rETH, 
and trim the LST interest back into vault or the yield collection contract. When they withdraw, just get their ETH back.... 
this means they were effectively paying the LST as interest.

**

the above statement might be wrong...

seems as long as CF>100%, user will be worse off selling into vault. Price always does go up.
The more they sell, the more price goes exponential.

that said, the CF does go down with each sell, so vault is more at risk of price going negative...
Sells also cascade, because if vault price goes up a lot while LP price stays the same; this makes LP undervalued, which will cause bots to buy LP and create more sells into vault.

So think best way to mitigate this:
1) put min price limit on numa as 10c or something
2) dont accept sells into the vault when CF < 110% (or which would cause vault to go below 110%)
3) sell limit proportional to CF, simply not to make price spike too high which would cascade further sells that bring it below CF.

No need to worry about changing the pricing feed to average since this always still benefits the vault.

re 2) liquidations would still work because rETH is first returned to vault to repay Numa loan, and then Numa is sold back into vault. Need to make sure this liquidation is all done in one txn, and will revert if someone steals the rETH (eg via sells) once debt is repaid and before Numa can be sold.

**

The main important thing is that borrowed rETH is removed from the CF equation.

This is important such that when Numa is liquidated, the CF value goes up.

However Numa price needs to account for the borrowed rETH to ensure Numa price does not change upon loan being taken out.
When liquidated, Numa price will go up due to liquidation fee + vault fee of Numa being burned, and net rETH returned to vault.



******** divers

un contrat qui reference tous les contracts addresses comme ça plus simple pour les updates














******************** flash and loops
https://www.rareskills.io/post/erc-3156

